<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infant Cry Detection</title>
</head>
<body>
    <h1>Infant Cry Detection</h1>
    <p>Upload a voice file below and see the result:</p>

    <!-- Create a form to upload voice file -->
    <form action="/result/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="audioFile">Choose an audio file:</label>
        <input type="file" id="audioFile" name="audioFile" accept="audio/*" required>
        <button type="submit">Upload</button>
    </form>
</body>
</html>