<!-- navbar.html -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" href="{% url 'index' %}">ICD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link{% if request.resolver_match.url_name == 'index' %} active{% endif %}" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if request.resolver_match.url_name == 'tutorial' %} active{% endif %}" href="{% url 'tutorial' %}">Tutorial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if request.resolver_match.url_name == 'cry_detection_view' %} active{% endif %}" href="{% url 'cry_detection_view' %}">Cry Detect</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if request.resolver_match.url_name == 'discomfort' %} active{% endif %}" href="{% url 'discomfort' %}">Discomfort</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if request.resolver_match.url_name == 'about' %} active{% endif %}" href="{% url 'about' %}">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>